<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--MSSQL ConnString-->
    <!--<add key="DAL" value="AutotunerLite.MSSQLDAL" />-->
    <!--<add key="DAL" value="ACMV.MSSQLDAL" />
        <add key="connString" value="Server=172.19.37.175;uid=sa;pwd=sa;DataBase=BSTAR_Test"/>
    <add key="connStringBstar" value="Server=172.19.37.175;uid=sa;pwd=sa;DataBase=BSTAR_Test"/>
    <add key="connStringAutoTune" value="Server=172.19.37.175;uid=sa;pwd=sa;DataBase=autotuning"/>-->
    <add key="DAL" value="ACMV.MYSQLDAL" />
    <add key="connString" value="server=172.19.37.175;database=bstar_test;uid=root;pwd=thisishvac;port=5000;"/>
    <add key="connStringBstar" value="server=172.19.37.175;database=bstar_test;uid=root;pwd=thisishvac;port=5000;"/>
    <add key="connStringAutoTune" value="server=172.19.37.175;database=bstar_test;uid=root;pwd=thisishvac;port=5000;"/>
    <!--<add name="connStringBstar" connectionString="server=172.19.35.113;database=bstar_testsql;uid=sa;pwd=emsemsems" providerName="SQLServer_mycomputer"/>-->
    <!--<add key="connStringAutoTune" value="Server=172.19.37.175;uid=sa;pwd=emsemsems;DataBase=autotuning"/>-->
    <!--MySQL ConnString-->
    <!--<add key="DAL" value="AutotunerLite.MYSQLDAL" />-->
    <!--<add key="connString" value="server=172.19.37.175;database=bstar_test;uid=root;pwd=thisishvac;port=5000"/>-->
    <!--<add key="connStringBstar" value="server=172.19.37.175;database=bstar_test;uid=root;pwd=thisishvac;port=5000"/>
    <add key="connStringAutoTune" value="server=172.19.37.175;database=bstar_test;uid=root;pwd=thisishvac;port=5000"/>-->
    <!--<add key="DAL" value="ACMV.MYSQLDAL" />
    <add key="connString" value="server=localhost;database=bstar_test;User ID=root;Password=sasa;" />
    <add key="connStringBstar" value="server=localhost;database=bstar_test;User ID=root;Password=sasa;" />
    <add key="connStringAutoTune" value="server=localhost;database=bstar_test;User ID=root;Password=sasa;" />-->
    
    <add key="DaqControlDAO" value="daq_control" />
    <add key="DaqReadHistoryDAO" value="daq_read_history" />
    <add key="DaqReadPidDAO" value="daq_read_pid" />
    <add key="ControllerDataDAO" value="daq_control" />
    <add key="DataForTuningDAO" value="at_data_ahu_sap" />
    <add key="LoopConfigurationDAO" value="at_loopconfiguration" />
    <add key="TuningResultsDAO" value="at_tuningresults" />
    <add key="TuningSettingDAO" value="at_tuningsetting" />
    <add key="UISettingDAO" value="at_uisettings" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>