<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP"   value="155.69.218.189" />
    <add key="DataBase"   value="BSTAR_Test" />
    <add key="UserID"     value="sa" />
    <add key="Password"   value="sa" />
    <add key="ConnString" value="Server=155.69.218.189;uid=sa;pwd=sa;DataBase=BSTAR_Test" />
    
    <add key="ComPort"     value="COM1" />
    <add key="ComBaudRate" value="9600" />
    <add key="ComParity"   value="Odd"  />
    <add key="ComDataBits" value="8"    />
    <add key="ComStopBits" value="One"  />
    <add key="picktime"    value="1000" />
    
    <add key="DBTable_CurrentData"    value="td_datasmallcheck" />
    <add key="DBTable_HistoryData"    value="td_datasmallcon"   />
    <add key="DBTable_Write"          value="td_datasmallwrite" />
    <add key="DBTable_PID"            value="td_datapid"        />
    <add key="DBTable_PIDSetPoint"    value="td_datapidsp"      />
    <add key="DBTable_HardwareStatus" value="td_smallconnum"    />
    <add key="DBTable_AmmeterData"    value="td_Ammeterdata"    />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>