<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="DAL" value="ACMVro
         DAL" />
    <!--<add key="DAL" value="ACMV.MSSQLDAL" />-->
    <!--<add key="connSys" value="Server=localhost;DataBase=lddsloc;uid=root;pwd=root;port=3306;;" />
    <add key="connString" value="Server=localhost;DataBase=lddsloc;uid=root;pwd=root;port=3306;;" />
    <add key="connStringBstar" value="Server=localhost;DataBase=lddsloc;uid=root;pwd=root;port=3306;;" />
    <add key="connStringAutoTune" value="Server=localhost;DataBase=lddsloc;uid=root;pwd=root;port=3306;;" />-->
    
    <add key="ConnStringMySQL" value="server=172.28.133.204;database=ldds;uid=root;pwd=thisishvac;port=5000;" />
    <add key="connSys" value="Server=172.28.133.204;DataBase=ldds;User=root;Password=thisishvac;port=5000" />
    <add key="connString" value="server=172.28.133.204;database=ldds;uid=root;pwd=thisishvac;port=5000;" />
    <add key="connStringBstar" value="server=172.28.133.204;database=ldds;uid=root;pwd=thisishvac;port=5000;" />
    <add key="connStringAutoTune" value="server=172.28.133.204;database=ldds;uid=root;pwd=thisishvac;port=5000;" />
    
    
    <!--database table name-->
    <add key="DaqControlDAO" value="daq_control" />
    <add key="DaqReadHistoryDAO" value="daq_read_history" />
    <add key="DaqReadPidDAO" value="daq_read_pid" />
    <add key="DaqControlDAO" value="daq_control" />
    <add key="DaqReadHistoryDAO" value="daq_read_history" />
    <add key="DaqReadPidDAO" value="daq_read_pid" />
    <add key="ControllerDataDAO" value="daq_control" />
    <add key="DataForTuningDAO" value="at_data_ahu_sap" />
    <add key="LoopConfigurationDAO" value="at_loopconfiguration" />
    <add key="TuningResultsDAO" value="at_tuningresults" />
    <add key="TuningSettingDAO" value="at_tuningsetting" />
    <add key="UISettingDAO" value="at_uisettings" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>


</configuration>